In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('DataTCC.csv')
df.head()

,SE,data_iniSE,casos_est,casos_est_min,casos_est_max,casos,p_rt1,p_inc100k,Localidade_id,nivel,...,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf,notif_accum_year,IBGE
0,202252,2022-12-25,5.0,5,5.0,5,0.916953,71.36740,0,1,...,74.606512,20.945707,23.000000,NaN,NaN,NaN,NaN,NaN,208,3100104
1,202251,2022-12-18,6.0,6,6.0,6,0.997569,85.64088,0,1,...,63.208147,20.900641,25.500000,NaN,NaN,NaN,NaN,NaN,208,3100104
2,202250,2022-12-11,0.0,0,0.0,0,0.000000,0.00000,0,1,...,60.142096,21.657585,26.166667,NaN,NaN,NaN,NaN,NaN,208,3100104
3,202249,2022-12-04,0.0,0,0.0,0,0.000000,0.00000,0,1,...,57.192086,22.308983,26.428571,NaN,NaN,NaN,NaN,NaN,208,3100104
4,202248,2022-11-27,0.0,0,0.0,0,0.000000,0.00000,0,1,...,47.394669,22.511905,27.428571,NaN,NaN,NaN,NaN,NaN,208,3100104

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267140 entries, 0 to 267139
Data columns (total 31 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   SE                267140 non-null  int64
 1   data_iniSE        267140 non-null  object
 2   casos_est         267140 non-null  float64
 3   casos_est_min     267140 non-null  int64
 4   casos_est_max     267134 non-null  float64
 5   casos             267140 non-null  int64
 6   p_rt1             267140 non-null  float64
 7   p_inc100k         267140 non-null  float64
 8   Localidade_id     267140 non-null  int64
 9   nivel             267140 non-null  int64
 10  id                267140 non-null  int64
 11  versao_modelo     267140 non-null  object
 12  tweet             266863 non-null  float64
 13  Rt                267140 non-null  float64
 14  pop               267140 non-null  float64
 15  tempmin           266276 non-null  float64
 16  umidmax           256477 non-null  float64
 17  receptivo         267140 non-null  int64
 18  transmissao       267140 non-null  int64
 19  nivel_inc         267140 non-null  int64
 20  umidmed           72598 non-null   float64
 21  umidmin           72598 non-null   float64
 22  tempmed           72598 non-null   float64
 23  tempmax           72598 non-null   float64
 24  casprov           0 non-null       float64
 25  casprov_est       0 non-null       float64
 26  casprov_est_min   0 non-null       float64
 27  casprov_est_max   0 non-null       float64
 28  casconf           0 non-null       float64
 29  notif_accum_year  267140 non-null  int64
 30  IBGE              267140 non-null  int64
dtypes: float64(18), int64(11), object(2)
memory usage: 63.2+ MB

## Analise ExploratÃ³ria de Dados

In [7]:
df.isnull().sum()

SE                       0
data_iniSE               0
casos_est                0
casos_est_min            0
casos_est_max            6
casos                    0
p_rt1                    0
p_inc100k                0
Localidade_id            0
nivel                    0
id                       0
versao_modelo            0
tweet                  277
Rt                       0
pop                      0
tempmin                864
umidmax              10663
receptivo                0
transmissao              0
nivel_inc                0
umidmed             194542
umidmin             194542
tempmed             194542
tempmax             194542
casprov             267140
casprov_est         267140
casprov_est_min     267140
casprov_est_max     267140
casconf             267140
notif_accum_year         0
IBGE                     0
dtype: int64

Umas colunas devem ser retiradas pela quantidade de valores vazios

In [8]:
df.duplicated().sum()

313

In [9]:
df.drop_duplicates(inplace=True)
#Verificando se tem mais linhas duplicadas
df.duplicated().sum()

0

In [10]:
df.columns

Index(['SE', 'data_iniSE', 'casos_est', 'casos_est_min', 'casos_est_max',
       'casos', 'p_rt1', 'p_inc100k', 'Localidade_id', 'nivel', 'id',
       'versao_modelo', 'tweet', 'Rt', 'pop', 'tempmin', 'umidmax',
       'receptivo', 'transmissao', 'nivel_inc', 'umidmed', 'umidmin',
       'tempmed', 'tempmax', 'casprov', 'casprov_est', 'casprov_est_min',
       'casprov_est_max', 'casconf', 'notif_accum_year', 'IBGE'],
      dtype='object')

In [12]:
#Excluindo objetos
df.drop('data_iniSE',axis=1, inplace=True)
#Excluindo colunas nulas
df.drop(['umidmed', 'umidmin',
       'tempmed', 'tempmax', 'casprov', 'casprov_est', 'casprov_est_min',
       'casprov_est_max', 'casconf',],axis=1, inplace=True)

In [13]:
df.isnull().sum()

SE                      0
casos_est               0
casos_est_min           0
casos_est_max           6
casos                   0
p_rt1                   0
p_inc100k               0
Localidade_id           0
nivel                   0
id                      0
versao_modelo           0
tweet                 277
Rt                      0
pop                     0
tempmin               864
umidmax             10663
receptivo               0
transmissao             0
nivel_inc               0
notif_accum_year        0
IBGE                    0
dtype: int64

In [16]:
#Colocando o resto dos valores nulos em 0
df = df.fillna(0)

In [17]:
df.isnull().sum()

SE                  0
casos_est           0
casos_est_min       0
casos_est_max       0
casos               0
p_rt1               0
p_inc100k           0
Localidade_id       0
nivel               0
id                  0
versao_modelo       0
tweet               0
Rt                  0
pop                 0
tempmin             0
umidmax             0
receptivo           0
transmissao         0
nivel_inc           0
notif_accum_year    0
IBGE                0
dtype: int64

In [18]:
#Retirando colunas que iram ocasionar vicios